{%  extends('base.html.twig') %}

{% block title %}Nos engagements - LaBonneMiche{% endblock %}

{% block body %}
    <div class="bodyhome">
        <h1> CRÉER DES MOMENTS DE PARTAGE AUTOUR DE PRODUITS-PLAISIR, SAINS ET DE QUALITÉ </h1>
        <br>
        <br>
        <p>Parce que nous sommes convaincus que bien manger est la clef du bien vivre ensemble, nous avons à cœur d’encourager les initiatives durables et responsables. Aux grandes phrases nous avons préféré les actions concrètes. Un travail de fond qui est toujours optimisable, raison pour laquelle nous préférons parler de progrès plutôt que de résultats. Pour nous y aider, LA BONNE MICHE s’est également doté d’un conseil scientifique composé de spécialistes en santé, nutrition, bien-être animal et environnement. Un Comité challengeant qui nous pousse à aller toujours plus loin et à progresser encore !
        Tout le monde connait LA BONNE MICHE… Mais savez-vous que 100% de notre blé, de notre poulet ou de notre jambon sont français ? Que nous avons été précurseurs avec Too Good to Go ? Que 18% des produits que nous vendons sont végétaliens ? Que nous avons été parmi les premiers à nous engager pour le Plan National Nutrition Santé ou à stopper les sacs plastiques ? Autant d’engagements et de progrès à découvrir …
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>

{% endblock %}


