{%  extends('base.html.twig') %}
{% block title %}Notre histoire - LaBonneMiche{% endblock %}

{% block body %}

<div class="bodyhome">
    <div class="container">
        <br>
        <div class="page-header text-center">
            <h1 id="timeline">Une histoire de miche familiale depuis 500 av J.C.</h1>
            <p id="timeline">Qu'est-ce qu'une miche ? C'est avant tout un sens du partage qui dure depuis plus de 2500 ans. Et c'est pour cela que nous nous battons depuis tout
                ce temps : se retrouver entre amis, famille ou même une rencontre professionnelle autour d'une bonne grosse miche pour que ce moment soit le plus convivial
                possible.</p>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire1.jpg" width="100%"/>

                    </div>
                    <div class="timeline-body">
                        <p class="h3">~500 av J.C</p>
                        <p>Première trace d'une miche de pain gravée "BONNE MICHE". Depuis cette date nous en avons retrouvé des centaines à travers le monde et à toutes
                            les époques.</p>
                    </div>
                </div>
            </li>

            <li  class="timeline-inverted">
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire2.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">24 av J.C</p>
                        <p>Première trace d'échoppe "La Bonne Miche" dans un village d'irréductibles gaulois.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire3.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">286</p>
                        <p>1er livre d'archives de vente de miches "La Bonne Miche" retrouvé et restauré. </p>
                    </div>
                </div>
            </li>

            <li  class="timeline-inverted">
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire4.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">485</p>
                        <p>"La Bonne Miche" devient fournisseur officiel de la cour du roi Clovis 1er. On y relève plus de 35 tonnes de miches dégustées par an, par la cour du roi
                            pendant son règne.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire5.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">512</p>
                        <p>Après la mort du roi Clovis 1er, l'exclusive n'est plus et "La Bonne Miche" exporte son art dans toute l'Europe.</p>
                    </div>
                </div>
            </li>

            <li  class="timeline-inverted">
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire6.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">741</p>
                        <p>Devenu repas traditionnel européen, "La Bonne Miche" connaît sa première crise financière et politique après que Charles Martel, Duc des Francs, ce
                            soit étouffé avec une miche de "La Bonne Miche"</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire7.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">1257</p>
                        <p>Après plus de 500 ans de bannissement par l'Europe et d'une véritable chasse a l'Homme pour éradiquer "La Bonne Miche", Louis IX décide de
                            stopper cette chasse jugeant que "c'est quand même vachement bon une grosse miche".</p>
                    </div>
                </div>
            </li>

            <li  class="timeline-inverted">
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire8.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">1298</p>
                        <p>"La Bonne Miche" connaît son apogée.
                            Grâce à l'exportation et la vente de dizaines de tonnes de miches par jour, la firme explose.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire9.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">1604</p>
                        <p>Grâce à l'essor économique de "La Bonne Miche", la compagnie française des Indes orientales est créée ce qui permet encore une fois à "La Bonne
                            Miche" de toucher gros.</p>
                    </div>
                </div>
            </li>

            <li  class="timeline-inverted">
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire10.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">1630</p>
                        <p>Suite à plusieurs épidémies de Peste en Europe durant les trois dernières décennies, la pandémie est créée en hommage aux victimes.</p>
                    </div>
                </div>
            </li>


            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire11.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">1806</p>
                        <p>Nouvelle crise pour "La Bonne Miche" suite aux conquêtes de l'empereur Napoléon Bonaparte qui réduisent considérablement le nombre de clients
                            potentiels dans toute l'Europe.</p>
                    </div>
                </div>
            </li>

            <li  class="timeline-inverted">
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire12.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">1914-18 / 1939-45</p>
                        <p>Durant les 2 grandes guerres mondiales, 85% des repas donnés aux soldats étaient fournis par "La Bonne Miche". Celle-ci n'a cessé de combattre l'envahisseur
                            à l'aide de grosse miche dans l'oignon.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="/img/histoire/histoire13.jpg" width="100%" />

                    </div>
                    <div class="timeline-body">
                        <p class="h3">2020</p>
                        <p>"La Bonne Miche" devient partenaire officiel de la FIFA (Fédération internationale de football association). </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


