{% extends 'base.html.twig' %}

{% block title %}Hello EspacepersoController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="/admin"  class="button" id="btn-panier-acheter">Accéder à l'espace admin</a>
    {% endif %}

    <a href="/logout"  class="button" id="btn-panier-acheter">Se déconnecter</a>
{% endblock %}
