{% extends 'base.html.twig' %}

{% block title %}Modifier article - LaBonneMiche{% endblock %}

{% block body %}

<div class="bodyhome pt-5">
    <div id="titlearticle">
        <h1 id="tltphare">Modifier Article</h1>

    </div>
    <div class="col-12">
        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    {{ include('article/_delete_form.html.twig') }}
    <a href="{{ path('article_index') }}" class="button m-3" id="btn-article-create">Revenir en arrière</a>

</div>


{% endblock %}
