{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="bodyhome pt-5">
        <div id="titlearticle">
            <h1 id="tltphare">Nos articles du moment!</h1>

        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="https://127.0.0.1:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CArticleCrudController&menuIndex=3&signature=zpEbba9kyRL0J7FLfL2_oxzhbJ_hPWR4_Cjft5qmJY8&submenuIndex=-1" class="button m-3" id="btn-article-create">Créer un nouvel article</a>
        {% endif %}
<div class="col-12 p-3 ">
    {% for article in articles %}
    <div class="article-body">
    <div class="col-12 ">
        <h2 class="article-h2">{{ article.Titre }}</h2>
    </div>
    <div class=" article-p col-12">
        <p class="article-p "> {{ article.Contenu |raw }}</p>
    </div>
    <div class="col-12">
        <a href="{{ path('article_show', {'id': article.id})}}"  class="button btn-article">Voir plus</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('article_edit', {'id': article.id}) }}"  class="button btn-article " >Modifier l'article</a>
        {% endif %}
    </div>
    </div>
        <br>
        <br>

        {% else %}
            <div class="col-12">

            <p colspan="5">Aucun article n'a été trouvé. :(</p>


    </div>

        {% endfor %}



</div>
    </div>
{% endblock %}
